<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'header.html' %}
{% include 'navigation.html' %}

<body>
    <section>
        <div class="container">
                <hr style="margin-top: 5%;">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy1.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy2.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy3.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy4.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy5.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy6.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy7.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" style="padding: 2%;">
                        <div class="card">
                            <img src="{% static 'images/trendy8.jpeg' %}" alt="Denim Jeans" style="width:100%"
                                class="zoom">
                            <h3 style="padding: 2%; font-family:'Times New Roman', Times, serif; margin: 1%;">Tailored
                                Jeans</h3>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View
                                    Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                            <span style="cursor:pointer" onmouseover="this.style.background='CadetBlue';"
                                onmouseout="this.style.background='inherit';"><a href=""
                                    class="btn btn-sm text-dark p-1 fs-6"
                                    style="color: black; text-decoration: none;">Buy Now</a></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>