*{
    font-weight: bold;
    font-family: monospace;
  }
  html,body{
    max-width: 100%;
    overflow-x: hidden;
  }
  
  :root {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
    
  /* This Css is for second Header */
  
  .nav2end>a {
    margin: 3%;
    padding: 1%;
    float: right;
  }
  
  ul.navbar-piyu {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  
  .login {
    float: right;
    padding: 1%;
  }
  
  .login>a {
    color: black;
    text-decoration: none;
    margin: 3px;
  }
  
  
  .logo>h1>span {
    color: rgb(237, 135, 10);
    border: 1px solid brown;  
  }
  
  .logo>h1>a {
    color: black;
    text-decoration: none;
  }
  
  
  .d-flex {
    width: 100%;
  }

  /* second Header end here */
  .details
  {
    margin-top: 2%;
  }
  
.d-flex
{
    width: 80%;
    margin: 1%;
}

/* main page of contact start */

.contact_left
{
    display: grid;
}

.contact_left>input,textarea,button
{
    margin: 1%;
}

.contact_right
{
    align-items: center;
    margin-left: 10%;
}
.contact_right>p{
    font-weight: bold;
}
.contact_left button:hover
{
    background-color:rgb(137, 192, 237);
}

